MONGO_URI=mongodb+srv://bayarjavhlannatsgaa7_db_user:Javkhaa@diplom.e4wqqwu.mongodb.net/face_attendance
JWT_SECRET_KEY=Javhaa_0727
FLASK_ENV=development
FLASK_PORT=5000
CORS_ORIGINS=http://localhost:3000
