flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-limiter==3.5.0
pymongo==4.6.1
python-dotenv==1.0.0
insightface==0.7.3
numpy==1.26.4
Pillow==10.1.0
bcrypt==4.1.2
python-dateutil==2.8.2
opencv-python-headless==4.8.1.78
onnxruntime==1.17.1
marshmallow==3.20.1
scipy==1.11.4
scikit-image==0.22.0
